.no-trajet {
  background-color: #fd5e53;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.no-trajet-text{
  display: inline-block;
  vertical-align: top;
  padding-top: 12px;
  padding-left: 20px;
  font-size: 27px;
  color: #34393E;
  font-weight: bold;
}


.error-logo{
  width: 60px;
  fill: #34393E;
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;

}


.loader-logo{
  width: 10%;
  margin-left: 45%;
  margin-top: 3%;
}
